<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Boolflix</title>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
      <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
      <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

      <div id="root">

        <header>
            <div class="container">

              <nav class="container">
                <h1>BoolFlix</h1>
                <h2 @click="onlyMovie" :class="(!active) ? 'active' :''">film</h2>
                <h2 @click="onlySerie" :class="(active) ? 'active' :''">serie tv</h2>
              </nav>

              <div class="search">

                <select :class="(selectedGenre != 'All') ? 'white' : ''" v-model="selectedGenre">
                  <option value="All">All</option>
                  <option v-if="!active" v-for="genre in movieGenres" :value="genre.id">{{genre.name}}</option>
                  <option v-if="active" v-for="genre in serieGenres" :value="genre.id">{{genre.name}}</option>
                </select>

                <input type="text" v-model="query" @keyup.enter="search(); getCast()">

                <i @click="search()" class="fas fa-search"></i>
              </div>

            </div>
        </header>

        <main class="posters-container container">

          <div v-if="selectedGenre == 'All' || e.genre_ids.includes(selectedGenre)" v-for="e in results" class="poster">
              <img v-if="e.poster_path != null" :src="imgSrc + e.poster_path" :alt="e.title">
              <img v-else src="img/no_image.png" alt="No Image">

            <div class="details">

              <div>
                <h3> {{e.title || e.name}} </h3>

                <div class="vote">
                  <i v-for="n in Math.ceil(e.vote_average / 2)" class="fas fa-star"></i>
                  <i v-for="n in 5 - Math.ceil(e.vote_average / 2)" class="far fa-star"></i>
                </div>

                <div>
                  <span v-if="!flags.includes(e.original_language)" class="or_lang"> {{e.original_language}} </span> <img v-else :src="'img/' + e.original_language + '.png'" :alt="e.original_language">
                </div>

                <small class="or_title"> {{e.original_title || e.original_name}} </small>
              </div>

              <div class="generi">
                <span v-for="(id, i) in e.genre_ids">
                  <span v-if="!active" v-for="genre in movieGenres">{{(id == genre.id && i != e.genre_ids.length-1) ? genre.name + ', ' : (id == genre.id && i == e.genre_ids.length-1) ? genre.name : ''}}</span>

                  <span v-if="active" v-for="genre in serieGenres">{{(id == genre.id && i != e.genre_ids.length-1) ? genre.name + ', ' : (id == genre.id && i == e.genre_ids.length-1) ? genre.name : ''}}</span>
                </span>
              </div>

              <div class="cast">

              </div>

              <div class="overview">
                {{e.overview}}
              </div>

            </div>
          </div>
        </main>

      </div>

        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
